@page "/GIMLogIn";

@inject Services.IAdminService adminservice;
@using Models;

@inject IJSRuntime JsRuntime;
@inject NavigationManager NavManager;

<div class="fullscreen" style="background-color: #ffca05">
    <div class="login-form">
        <form onsubmit="@LogInCheck">
            <input type="text" id="username" class="textbox" @bind="login.Username">
            <label class="input-label" for="username">Uporabniško ime</label>
            <br>
            <input type="password" id="password" class="textbox" @bind="login.Password">
            <label class="input-label" for="password">Geslo</label>
            <br>
            <button type="submit" class="login-button">PRIJAVA</button>
        </form>
    </div>
</div>
<footer class="footer-master">
    <hr>
    <div class="container">
        <form>
            <table>
                <tbody>
                    <tr style="height: 100px;">
                        <td style="width: 100px;">
                            <button formaction="/SSGOLogIn" class="school-button" style="background-color: #a9d046;">
                                <img src="https://www.scv.si/wp-content/themes/yoo_master2_wp/images/ssgo.svg">
                            </button>
                        </td>
                        <td style="width: 100px;">
                            <button formaction="/ERSLogIn" class="school-button" style="background-color: #0194d9;">
                                <img src="https://www.scv.si/wp-content/themes/yoo_master2_wp/images/ers.svg">
                            </button>
                        </td>
                        <td style="width: 100px;">
                            <button formaction="/SSDLogIn" class="school-button" style="background-color: #ee5ba0;">
                                <img src="https://www.scv.si/wp-content/themes/yoo_master2_wp/images/ssd.svg">
                            </button>
                        </td>
                        <td style="width: 100px;">
                            <button formaction="GIMLogIn" class="school-button" style="background-color: #ffca05;">
                                <img src="https://www.scv.si/wp-content/themes/yoo_master2_wp/images/gim.svg">
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</footer>

@code
{
    List<Admin> admins = new List<Admin>();
    Admin login = new Admin();

    protected override async Task OnInitializedAsync()
    {
        admins = await adminservice.GetAllAdmins();
    }

    public async void LogInCheck()
    {
        try
        {
            bool logincheck = false;
            foreach (var user in admins)
            {
                if (user.SchoolId == 2)
                {
                    if (user.Username == login.Username && user.Password == login.Password)
                    {
                        NavManager.NavigateTo("/GIM/Submited-dates");
                        logincheck = true;
                    }
                }
            }

            if (logincheck == false)
            {
                await JsRuntime.InvokeVoidAsync("alert", "Wrong username or password. Please try again");
            }
        }
        catch (Exception ex)
        {
            await JsRuntime.InvokeVoidAsync("alert", ex.InnerException.Message);
        }
    }
}