@page "/Master/All-dates";

<nav class="navbar-master">
    <div class="container">
        <a href="/Master/Submited-dates" class="left-button"><div style="margin-top: 12px;">SUBMITED<br />DATES</div></a>
        <a  class="welcome-container">ALL DATES</a>
        <a href="/Master/Submited-dates" class="right-button"><div style="margin-top: 12px; margin-left: -170px;">SUB<br />ADMINS</div></a>
    </div>
</nav>

<div class="fullscreen" style="background-color: #ed1164">
    <div class="fullscreen-table">
        <table>
            <tr>
                <th style="width: calc(100% / 4);">Date</th>
                <th style="width: calc(100% / 4);">Hour</th>
                <th style="width: calc(100% / 4);">Max number of students</th>
                <th style="width: calc(100% / 4);">Is taken</th>
            </tr>
            <tr>
                <td colspan="4"><a class="add-button" href="/Create-Submited-Date">NEW DATE</a></td>
            </tr>
            @for (int x = 0; x < 100; x++)
            {
                <tr class="td-row">
                    <td><p>@x</p></td>
                    <td><p>@x</p></td>
                    <td><p>@x</p></td>
                    <td><p>@x</p></td>
                </tr>
            }
        </table>
    </div>
</div>