@page "/MasterLogIn";

@inject NavigationManager NavManager;
@inject IJSRuntime JsRuntime;

@inject Services.IAdminService adminservice;
@using Models;

<div class="fullscreen" style="background-color: #ed1164">
    <div class="login-form">
        <form onsubmit="@LogInCheck">
            <input type="text" placeholder="Uporabniško ime" class="textbox" @bind="admin.Username"><br>
            <input type="password" placeholder="Geslo" class="textbox" @bind="admin.Password"><br>
            <button type="submit" class="login-button" formaction="/Master/Submited-dates">Prijava</button>
        </form>
    </div>
</div>
<footer class="footer-master">
    <hr>
    <div class="container">
        <form>
            <table>
                <tbody>
                    <tr style="height: 100px;">
                        <td style="width: 100px;">
                            <button formaction="/SSGOLogIn" class="school-button" style="background-color: #a9d046;">
                                <img src="https://www.scv.si/wp-content/themes/yoo_master2_wp/images/ssgo.svg">
                            </button>
                        </td>
                        <td style="width: 100px;">
                            <button formaction="/ERSLogIn" class="school-button" style="background-color: #0194d9;">
                                <img src="https://www.scv.si/wp-content/themes/yoo_master2_wp/images/ers.svg">
                            </button>
                        </td>
                        <td style="width: 100px;">
                            <button formaction="/SSDLogIn" class="school-button" style="background-color: #ee5ba0;">
                                <img src="https://www.scv.si/wp-content/themes/yoo_master2_wp/images/ssd.svg">
                            </button>
                        </td>
                        <td style="width: 100px;">
                            <button formaction="GIMLogIn" class="school-button" style="background-color: #ffca05;">
                                <img src="https://www.scv.si/wp-content/themes/yoo_master2_wp/images/gim.svg">
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</footer>

@code
{
    List<Admin> admins = new List<Admin>();
    Admin admin = new Admin();
    Admin login = new Admin();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            admins = await adminservice.GetAllAdmins();
        }
        catch (Exception ex)
        {
            await JsRuntime.InvokeVoidAsync("alert", ex.InnerException.Message);
        }
    }

    public async void LogInCheck()
    {
        try
        {
            login = admins.FirstOrDefault(LogIninfo => LogIninfo.Username == admin.Username);

            if (login.Password == admin.Password)
            {
                NavManager.NavigateTo("/Master/Submited-Dates");
            }
            else
            {
                await JsRuntime.InvokeVoidAsync("alert", "Wrong username or password. Please try again");
            }
        }
        catch (Exception ex)
        {
            await JsRuntime.InvokeVoidAsync("alert", ex.InnerException.Message);
        }
    }
}