@page "/Create-User/{adminId}";

@inject NavigationManager NavManager;
@inject IJSRuntime JsRuntime;

@inject Services.IAdminService adminservice;
@inject Services.ISchoolService schoolservice;
@using Models;

<nav class="navbar-master">
    <div class="container">
        <a href="/Master/Sub-admins" class="left-button"><div style="margin-top: 12px;">POJDI<br />NAZAJ</div></a>
        <a class="welcome-container">USTVARI NOVEGA UPORABNIKA</a>
    </div>
</nav>

<div class="fullscreen" style="background-color: #ed1164">
    <div class="login-form">
        <form onsubmit="@CheckSubmit">
            <input type="text" placeholder="Ime" class="textbox" @bind=admin.Firstname><br>
            <input type="text" placeholder="Priimek" class="textbox" @bind=admin.Surname><br>
            <input type="text" placeholder="Nazim" class="textbox" @bind=admin.Title><br>
            <input type="email" placeholder="E-poštni naslov" class="textbox" @bind=admin.Email><br>
            <input type="text" placeholder="Telefonska številka" class="textbox" @bind=admin.PhoneNumber><br>
            <input type="text" placeholder="Uporabniško ime" class="textbox" @bind=admin.Username><br>
            <input type="text" placeholder="Geslo" class="textbox" @bind=admin.Password><br>

            <select class="textbox" @bind=school.Name>
                <option>Šola</option>

                @foreach (var school in schools)
                {
                    if (school.Id == admin.SchoolId)
                    {
                        <option selected>@school.Name</option>
                    }
                    else
                    {
                        <option>@school.Name</option>
                    }
                }
            </select>
            <button type="submit" class="login-button">Ustvari</button>
        </form>
    </div>
</div>

@code
{
    [Parameter]
    public string adminId { get; set; }

    Admin admin = new Admin();
    School school = new School();
    List<Admin> admins = new List<Admin>();
    List<School> schools = new List<School>();

    protected override async Task OnInitializedAsync()
    {
        schools = await schoolservice.GetAllSchools();

        if (adminId == "0")
        {
            admin = new Admin();
        }
        else
        {
            admins = await adminservice.GetAllAdmins();

            admin = admins.FirstOrDefault(varadmin => varadmin.Id == Int32.Parse(adminId.ToString()));
        }
    }

    public async void CheckSubmit()
    {
        if (adminId == "0")
        {
            admin.SchoolId = schools.FirstOrDefault(varschool => varschool.Name == school.Name).Id;

            await adminservice.AddNewAdmin(admin);

            admin = new Admin();

            NavManager.NavigateTo("Master/Sub-admins");
        }
        else
        {
            admin.SchoolId = schools.FirstOrDefault(varschool => varschool.Name == school.Name).Id;

            await adminservice.UpdateAdmin(admin);
            admin = new Admin();

            NavManager.NavigateTo("Master/Sub-admins");
        }
    }
}