@page "/Thank-you";

<div class="fullscreen" style="background-color: #ed1164">
    <div class="client-form" style="font-size: 128px; color: #00f700; font-family: fantasy;">
        ✔ <br />
        Thank you!
    </div>
</div>