@page "/Thank-you";

<div class="fullscreen" style="background-color: #ed1164">
    <div class="client-form" style="font-size: 128px; color: #00f700; font-family: fantasy;">
        <img class="thank-you" src="https://www.feedtheirneeds.com/wp-content/uploads/2020/05/transparent-checkmark-300x300.png"/>
    </div>
</div>