<nav class="navbar-master">
    <div class="container">
        <a href="/" style="height: 100px; float: left;">
            <img src="https://www.scv.si/wp-content/themes/yoo_master2_wp/images/scv.svg" style="height: 100px; float: left; position: absolute; left: 0px; text-decoration: none;" />
        </a>
        <a href="/MasterLogIn" class="welcome-container">LOG IN</a>
    </div>
</nav>